*{margin:0; padding:0; box-sizing: box-border;}

.head
{
  color: blueviolet;
  text-align: center;
  font-weight:bold;
  margin:100px;
  text-shadow: 0px 2px 4px #000000;
}

.m
{
  color: #567d00;
  
  font-weight:bold;
  margin:145px;
  margin-left: 207px;
  text-shadow: 0px 2px 4px #567d00;
}

.m1
{
  color: #567d00;
  
  font-weight:bold;
  margin:145px;
  margin-left: 207px;
  text-shadow: 0px 2px 4px #567d00;
}

.m2
{
  color: #567d00;
  
  font-weight:bold;
  margin:-165px;
  margin-left: 330px;
  text-shadow: 0px 2px 4px #567d00;
}

.m3
{
  color: #567d00;
  
  font-weight:bold;
  margin:145px;
  margin-left: 438px;
  text-shadow: 0px 2px 4px #567d00;
}

.m4
{
  color: #567d00;
  
  font-weight:bold;
  margin:-166px;
  margin-left: 552px;
  text-shadow: 0px 2px 4px #567d00;
}

.m5
{
  color: #567d00;
  
  font-weight:bold;
  margin:145px;
  margin-left: 661px;
  text-shadow: 0px 2px 4px #567d00;
}

.m6
{
  color: #567d00;
  
  font-weight:bold;
  margin:-166px;
  margin-left: 771px;
  text-shadow: 0px 2px 4px #567d00;
}

.m7
{
  color: #567d00;
  
  font-weight:bold;
  margin:144px;
  margin-left: 879px;
  text-shadow: 0px 2px 4px #567d00;
}

.m8
{
  color: #567d00;
  
  font-weight:bold;
  margin:-165px;
  margin-left: 996px;
  text-shadow: 0px 2px 4px #567d00;
}

.m9
{
  color: #567d00;
  
  font-weight:bold;
  margin:143px;
  margin-left: 1106px;
  text-shadow: 0px 2px 4px #567d00;
}

.m10
{
  color: #567d00;
  
  font-weight:bold;
  margin:-165px;
  margin-left: 1218px;
  text-shadow: 0px 2px 4px #567d00;
}

.m11
{
  color: #567d00;
  
  font-weight:bold;
  margin:145px;
  margin-left: 1328px;
  text-shadow: 0px 2px 4px #567d00;
}

.n1
{
  color: #567d00;
  
  font-weight:bold;
  margin:-86px;
  margin-left: 509px;
  text-shadow: 0px 2px 4px #567d00;
}

.n2
{
  color: #567d00;
  
  font-weight:bold;
  margin:184px;
  margin-left: 509px;
  text-shadow: 0px 2px 4px #567d00;
}

.n3
{
  color: #567d00;
  
  font-weight:bold;
  margin:-85px;
  margin-left: 509px;
  text-shadow: 0px 2px 4px #567d00;
}

.n4
{
  color: #567d00;
  
  font-weight:bold;
  margin:-261px;
  margin-left: 725px;
  text-shadow: 0px 2px 4px #567d00;
}

.n5
{
  color: #567d00;
  
  font-weight:bold;
  margin:358px;
  margin-left: 725px;
  text-shadow: 0px 2px 4px #567d00;
}

.n6
{
  color: #567d00;
  
  font-weight:bold;
  margin:-259px;
  margin-left: 725px;
  text-shadow: 0px 2px 4px #567d00;
}

.n7
{
  color: #567d00;
  
  font-weight:bold;
  margin:-262px;
  margin-left: 945px;
  text-shadow: 0px 2px 4px #567d00;
}

.n8
{
  color: #567d00;
  
  font-weight:bold;
  margin:361px;
  margin-left: 945px;
  text-shadow: 0px 2px 4px #567d00;
}

.n9
{
  color: #567d00;
  
  font-weight:bold;
  margin:-263px;
  margin-left: 945px;
  text-shadow: 0px 2px 4px #567d00;
}